apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample
          image: meghanaraparthi1/sample:v1 #change with ur username of dockerhub and container name
          ports:
            - containerPort: 5000
